.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__title {
  margin-bottom: 2rem;
  font-weight: 900;
  font-size: 6rem;
  line-height: 1.041;
  text-align: center;
  max-width: 45rem;
}

.header__subtitle {
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.2;
  text-align: center;
  max-width: 37.5rem;
  margin-bottom: 4rem;
}

.header__image {
  width: 100%;
}
