.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 9.25rem;
}

.header__title {
  margin-bottom: 2rem;
  font-weight: 900;
  font-size: clamp(40px, 7.5vw, 96px);
  line-height: 1.1;
  text-align: center;
  max-width: 80;
}

.header__subtitle {
  font-weight: 400;
  font-size: clamp(16px, 2.344vw, 30px);
  line-height: 1.2;
  text-align: center;
  max-width: 75%;
  margin-bottom: 4rem;
}

.header__image {
  width: clamp(320px, 60vw, 984px);
  width: 100%;
}
