.intro {
  margin-top: clamp(64px, 5vw, 92px);
  margin-right: clamp(16px, 12vw, 154px);

  align-self: flex-start;
}

.intro__title {
  font-size: clamp(2rem, 4.219vw, 6rem);
  font-weight: 900;
  line-height: 1.074;
  margin-bottom: 2.5rem;
}
.intro__text-quote {
  margin: 0;
}

.intro__text-quote p {
  margin-bottom: 0.625rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.417;
  margin: 0;
}

.intro__author {
  display: block;
  text-align: right;
  line-height: 1.417;
  font-size: 1.5rem;

  font-weight: 400;
  margin-bottom: 2rem;
  max-width: 45.75rem;
  width: 100%;
}

.intro__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.63;
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 0 24px;
    margin: 5.625rem auto 0 auto;
  }
}

@media screen and (max-width: 375px) {
  .intro {
    padding: 0 16px;
    margin: 4rem auto 0 auto;
  }
}
