.intro {
  margin-top: 5.75rem;
  margin-right: 154px;
  width: 830px;
  align-self: flex-start;
}

.intro__title {
  font-size: 3.375rem;
  font-weight: 900;
  line-height: 1.074;
  margin-bottom: 2.5rem;
}

.intro__text-quote {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.417;
  margin: 0;
}

.intro__text-quote p {
  margin-bottom: 0.625rem;
}

.intro__author {
  display: block;
  text-align: right;
  line-height: 1.417;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
  max-width: 732px;
}

.intro__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.63;
}
