.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5.625rem;
}

.logo__image {
  width: clamp(188px, 50vw, 254px);
  height: clamp(52px, 5vw, 70px);
  max-width: 100%;
}
