h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.page {
  background-color: #2a2c2f;
  /* max-width: 80rem;  */
  margin: 0 auto;
  color: #ffffff;
  padding: 2rem 0;
  font-family: "Inter", sans-serif;
}

@media screen and (max-width: 1024px) {
  .page {
    padding: 2rem 0;
  }
}

@media screen and (max-width: 768px) {
  .page {
    padding: 1.875rem 0 1.5rem 0;
  }
}

@media screen and (max-width: 375px) {
  .page {
    padding: 1.25rem 0 1.5rem 0;
  }
}
