h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.page {
  background-color: #2a2c2f;
  max-width: 80rem;
  margin: 0 auto;
  color: #ffffff;
  padding: 2rem 9.25rem;
  font-family: "Inter", sans-serif;
}
