.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  padding: 0 3rem;
  margin: 7.375rem 0 5.75rem 0;
}

.photo-grid__item {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    padding: 0;
    margin: 4rem 1.5rem 5.5rem 1.5rem;
  }
}

@media screen and (max-width: 375px) {
  .photo-grid {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(8, auto);
    padding: 0;
    margin: 3rem 1rem 5.5rem 1rem;
  }
}
