.places {
  padding: 0 9.25rem;
}

.place:nth-of-type(1) {
  display: grid;
  margin-bottom: 80px;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto auto 1fr;
  row-gap: 48px;
  column-gap: 40px;

  grid-template-areas:
    "title website"
    "image texts"
    "button texts";
}

.place:nth-of-type(2) {
  display: grid;
  margin-bottom: 80px;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto auto 460px;
  row-gap: 48px;
  column-gap: 40px;
  grid-template-areas:
    "title website"
    "image texts"
    "button texts";
}

.place:nth-of-type(3) {
  display: grid;
  margin-bottom: 80px;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto auto 1fr;
  row-gap: 48px;
  column-gap: 40px;
  grid-template-areas:
    "title website"
    "image texts"
    "button texts";
}

.place:nth-of-type(4) {
  display: grid;
  margin-bottom: 80px;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto auto 1fr;
  row-gap: 48px;
  column-gap: 40px;
  grid-template-areas:
    "title website"
    "image texts"
    "button texts";
}

.place__title {
  grid-area: title;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  align-self: end;
}
.place__image {
  grid-area: image;
  max-width: 100%;
  width: 100%;
}

.place__text:nth-of-type(1) {
  margin-bottom: 25px;
}

.place__website {
  grid-area: website;
  align-self: end;
}

.place__website__url-heading {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 12%;
  text-transform: uppercase;
  color: #aaaaaa;
  margin-bottom: 8px;
}

.place__website__url-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.place__website__url-link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0%;
}

.place__button {
  grid-area: button;
  background-image: linear-gradient(60deg, #0278fe, #003a7b);
  color: #ffffff;
  box-shadow: 5px 5px 10px #00000040;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  opacity: 1;
  transition: all 0.6s ease;
  cursor: pointer;
  width: max-content;
  height: max-content;
  padding: 13px 21px;
}

.place__button:hover {
  background-image: linear-gradient(30deg, #003a7b 100%, #0278fe);
  opacity: 0.75;
}

.place__texts {
  grid-area: texts;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}
