.places {
  padding: 0 9.25rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 3fr) 1fr;
  grid-template-areas:
    "title title  . . . ."
    "title title gales website website website"
    "image image image texts texts texts"
    "image image image texts texts texts"
    "image image image texts texts texts"
    "button button . . . .";
}
.places__title {
  grid-area: title;
  font-family: "Inter" sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}
.places__image {
  grid-area: image;
  width: 100%;
  max-height: 460px;
  max-width: 460px;
}

.places__website {
  grid-area: website;
}

.places__button {
  grid-area: button;
}

.places__texts {
  grid-area: texts;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

.places span {
  grid-area: gales;
}
