.places {
  padding: 0 9.25rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 3fr) 1fr 1fr;
  grid-template-areas:
    "title title  . . . . . ."
    "title title gales . website website website website"
    "image image image image texts texts texts texts"
    "image image image image texts texts texts texts"
    "image image image image texts texts texts texts"
    " . . . . texts texts texts texts"
    "button button button . . . . .";
}
.places__title {
  grid-area: title;
  font-family: "Inter" sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}
.places__image {
  grid-area: image;
  width: 100%;
  max-height: 460px;
  max-width: 460px;
}

.places__text:nth-of-type(1) {
  margin-bottom: 25px;
}

.places__website {
  grid-area: website;
}

.places__website__url-heading {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 12%;
  text-transform: uppercase;
  color: #aaaaaa;
  margin-bottom: 8px;
}

.places__website__url-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.places__website__url-link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0%;
}

.places__button {
  grid-area: button;
  background-image: linear-gradient(60deg, #0278fe, #003a7b);
  color: #ffffff;
  box-shadow: 5px 5px 10px #00000040;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.places__texts {
  grid-area: texts;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

.places span {
  grid-area: gales;
}
