@media screen and (max-width: 1024px) {
  .page {
    padding: 2rem 0;
  }

  .header {
    padding: 0 2rem;
  }

  .photo-grid {
    padding: 0 1rem;
  }
  .places {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 768px) {
  .page {
    padding: 1.875rem 0 1.5rem 0;
  }

  .header {
    padding: 0;
  }

  .intro {
    padding: 0 24px;
  }

  .header__title {
    max-width: 70%;
  }

  .header__image {
    width: 100%;
  }

  .intro {
    margin: 5.625rem auto 0 auto;
  }

  .photo-grid {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    padding: 0;
    margin: 4rem 1.5rem 5.5rem 1.5rem;
  }

  .places {
    padding: 0 24px;
  }

  .place {
    column-gap: 28px;
  }

  .place__button {
    font-size: 16px;
    width: 100%;
  }
}

@media screen and (max-width: 730px) {
  .place {
    display: grid;
    margin-bottom: 50px;
    row-gap: 30px;

    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "website"
      "image"
      "texts"
      "button";
  }

  .place__title {
    margin: 0 auto;
  }
  .place__website {
    margin: 0 auto;
  }
}

@media screen and (max-width: 375px) {
  .page {
    padding: 1.25rem 0 1.5rem 0;
  }

  .header {
    padding: 0;
  }

  .intro {
    padding: 0 16px;
  }

  .header__subtitle {
    max-width: 90%;
  }

  .header__image {
    width: 100%;
  }

  .intro {
    margin: 4rem auto 0 auto;
  }

  .photo-grid {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(8, auto);
    padding: 0;
    margin: 3rem 1rem 5.5rem 1rem;
  }

  .places {
    padding: 0 16px;
  }

  .place {
    display: grid;
    margin-bottom: 50px;
    row-gap: 30px;

    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "website"
      "image"
      "texts"
      "button";
  }

  .place__title,
  .place__website {
    margin: 0;
  }

  .place__image {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    max-width: none;
  }

  .place__button {
    font-weight: 600;
    font-size: 14px;
    padding: 15px 10px;
    line-height: 100%;
    width: 288px;
  }
}
