@media screen and (min-width: 1281px) and (max-width: 1500px) {
  .page {
    padding: 2rem 4.5rem;
  }
  .header__image {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .page {
    padding: 2rem 5rem;
  }

  .header__title {
    font-size: 4.5rem;
    line-height: 1.055;
  }

  .header__subtitle {
    font-size: 1.5rem;
    line-height: 1.333;
  }

  .intro__title {
    font-size: 2.75rem;
    line-height: 1.09;
  }
}

@media screen and (max-width: 768px) {
  .page {
    padding: 1.875rem 0 1.5rem 0;
  }

  .header__title {
    font-size: 4.6875rem;
    line-height: 1.053;
    max-width: 90%;
  }

  .header__image {
    width: 100%;
  }

  .intro {
    max-width: 45rem;
    margin: 0 auto;
  }

  .intro__title {
    font-size: 2.8125rem;
    line-height: 1.088;
  }
}

@media screen and (max-width: 665px) {
  .page {
    padding: 1.75rem 1.5rem 1.5rem 1.5rem;
  }

  .logo {
    margin-bottom: 4rem;
  }

  .logo__image {
    width: 12.5rem;
  }

  .header__title {
    font-size: 3.5rem;
    line-height: 1.114;
    margin-bottom: 1.5rem;
  }

  .header__subtitle {
    font-size: 1.25rem;
    line-height: 1.4;
    margin-bottom: 2rem;
  }

  .intro__title {
    font-size: 2.5rem;
    line-height: 1.1;
    margin-top: 4rem;
  }
}

@media screen and (max-width: 544px) {
  .page {
    padding: 1.5rem;
  }

  .logo {
    margin-bottom: 3rem;
  }

  .logo__image {
    width: 10rem;
  }

  .header__title {
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 1.5rem;
  }

  .header__subtitle {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }

  .intro__title {
    font-size: 2rem;
    line-height: 1.125;
    margin-top: 3rem;
  }

  .intro__text-quote {
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .intro__author {
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .intro__text {
    font-size: 1rem;
  }

  .footer__copyright {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 425px) {
  .page {
    padding: 1.25rem 0 1.5rem 0;
  }

  .logo__image {
    width: 11.75rem;
    height: 3.25rem;
  }

  .header__title {
    font-size: 2.5rem;
    line-height: 1.1;
    max-width: 80%;
  }

  .header__subtitle {
    font-size: 1rem;
    line-height: 1.25;
    max-width: 90%;
  }

  .header__image {
    width: 100%;
  }

  .intro {
    max-width: 23rem;
    margin: 0 auto;
  }
}

@media screen and (max-width: 375px) {
  .page {
    padding: 1.25rem 0 1.5rem 0;
  }

  .logo__image {
    width: 11.75rem;
    height: 3.25rem;
  }

  .header__title {
    font-size: 2.5rem;
    line-height: 1.1;
    max-width: 80%;
  }

  .header__subtitle {
    font-size: 1rem;
    line-height: 1.25;
    max-width: 90%;
  }

  .header__image {
    width: 100%;
  }

  .intro {
    max-width: 20rem;
    margin: 0 auto;
  }
  .intro__title {
    font-size: 2.1rem;
    line-height: 1.09;
    font-weight: 900;
  }
  .intro__text-quote {
    font-size: 1.3rem;
    line-height: 1.25;
    font-weight: 400;
  }
}

@media screen and (max-width: 320px) {
  .page {
    padding: 1.25rem 0 1.5rem 0;
  }

  .logo__image {
    width: 11.75rem;
    height: 3.25rem;
  }

  .header__title {
    font-size: 2.5rem;
    line-height: 1.1;
    max-width: 90%;
  }

  .header__subtitle {
    font-size: 1rem;
    line-height: 1.25;
    max-width: 90%;
  }

  .header__image {
    width: 100%;
  }

  .intro {
    max-width: 18rem;
    margin: 0 auto;
  }

  .intro__title {
    font-size: 2rem;
    line-height: 1.09;
    font-weight: 900;
  }

  .intro__text-quote {
    font-size: 1.2rem;
    line-height: 1.25;
    font-weight: 400;
  }

  .intro__author {
    font-size: 1.2rem;
    line-height: 1.416;
  }
}
